<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resume</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../resources/css/style.css" />
</head>
<body>
    <nav class="navbar navbar-dark bg-dark navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href="./home.html">Home</a>
            <a class="navbar-brand" href="./hobbies.html">Hobbies</a>
            <a class="navbar-brand" href="./projects.html">Projects</a>
            <div class="ms-auto">
                <a href="./home.html"><img src="../resources/img/frosty.png" alt="Icon" width="50"></a>
            </div>
        </div>
    </nav>
    
    <div class="container my-5">
        <h2 class="text-center">My Resume</h2>
        <table class="table table-bordered table-striped mt-4">
            <tr>
                <th>Name</th>
                <td>Ben Mast</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>benjaminmst@gmail.com</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>6083587444</td>
            </tr>
            <tr>
                <th>Education</th>
                <td>Bachelor of Science in Computer Science, CU Boulder (Expected May 2027)</td>
            </tr>
            <tr>
                <th>Work Experience</th>
                <td>
                    Lifeguard - Verona Aquatics Center (2021 - Present) <br>
                    - Supervised Patrons and performed rescue saves in emergencies along with first aid.<br>
                    - Underwent monthly faculty training, along with yearly recertification through the Red Cross.
                </td>
            </tr>
            <tr>
                <th>Skills</th>
                <td>HTML, CSS, JavaScript, Python, Java, C, C++, C#</td>
            </tr>
        </table>
        <a href="../resources/other/Benjamin Mast Resume.pdf" target="_blank" download="Resume.pdf">
            <button class="btn btn-primary align-self-start">Download PDF</button>
          </a>
    </div>
    <footer class="footer mt-4 bg-light text-center p-3">
        <div class="container">
            <span>Follow me on: </span>
            <a href="https://www.linkedin.com/in/benjamin-mast-b25420345/">🔗 LinkedIn</a>
            <a href="https://github.com/Ben-Mast">GitHub</a>
        </div>
    </footer>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
